.bg-light {
    background-color: #dfdce9 !important;
}

.jumbotron {
    background-image: url("/assets/images/homepagebanner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.jumbotext {
    background-color: rgba(222,220,233,0.8);
    padding: 30px;
    border-radius: 25px;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 60px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 1.2rem;
}

.login-form {
    width: 400px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.img-homepage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.img-thumbnail {
    width: 300px;
}